# Milestone 1 

## Dataset
International football results from 1972 to 2022. consists of two csv files, `results.csv` and `shootouts.csv`

### About the dataset
This dataset includes `43,751` results of international football matches starting from the very first official match in 1972 up to 2022. The matches range from FIFA World Cup to FIFI Wild Cup to regular friendly matches.

 ### Dataset columns 

 `results.csv`

 | date | home_team | away_team | home_score | away_score | tournament | city | country | neutral |
| --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Date of the match  | Name of the home team | Name of the away team | Full-time home team score including extra time, not including penalty-shootouts | full-time away team score including extra time, not including penalty-shootouts | Name of the tournament | Name of the city/town/administrative unit where the match was played | Name of the country where the match was played | Column indicating whether the match was played at a neutral venue |
| `yyyy-mm-dd` format date | string | string | number | number | string | string | string | TRUE or FALSE |
| `quantitative/discrete`|`qualitative/nominal`| `qualitative/nominal`| `quantitative/discrete` | `quantitative/discrete` | `qualitative/nominal` | `qualitative/nominal` | `qualitative/nominal` | `qualitative/nominal` |


`shootouts.csv`

| date | home_team | away team | winner |
| --- | --- | --- | --- |
| Date of the match | Name of the home team | Name of the away team | winner of the penalty-shootout |
| string | string | string | string |
| `qualitative/nominal` | `qualitative/nominal` | `qualitative/nominal` | `qualitative/nominal`|


## Posible missing values
- **Goals**: would give us more insights about the players, who are the top scorers in some competitions, which players are more or less suitable to score certain teams, also would give us insights about the minutes where is more possible that a goal occurs in a match with certain teams.
- **Continent**: would give us some insights if a team is more propense to win or lose playing in some continents or in the next world cup.

## Lets start

### Inporting libraries

In [1]:
import pandas 
import numpy 
import matplotlib.pyplot as plot
import seaborn 
import random

ModuleNotFoundError: No module named 'pandas'

### Load datasets

In [ ]:
results = pandas.read_csv('results.csv')
shootouts = pandas.read_csv('shootouts.csv')

In [ ]:
results.sample(5)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
2306,1940-07-14,Germany,Romania,9,3,Friendly,Frankfurt am Main,Germany,False
22636,1999-10-09,Belarus,Italy,0,0,UEFA Euro qualification,Minsk,Belarus,False
19429,1995-08-20,Fiji,Guam,8,0,South Pacific Games,Papeete,French Polynesia,True
21599,1998-05-30,Georgia,Russia,1,1,Friendly,Tbilisi,Georgia,False
5702,1964-09-14,Martinique,Puerto Rico,4,0,Friendly,Fort-de-France,Martinique,False

In [ ]:
shootouts.sample(5)

           date home_team    away_team       winner
2    1972-05-17  Thailand  South Korea  South Korea
456  2019-06-05  Zimbabwe       Zambia       Zambia
342  2006-04-29   Lesotho   Mozambique      Lesotho
57   1983-10-20    Brazil     Paraguay       Brazil
188  1996-08-25  Ethiopia       Uganda     Ethiopia

### Dimentions of the data

In [ ]:
print(f'Results: {results.shape[0]} Rows, {results.shape[1]} Columns')
print(f'Shootouts: {shootouts.shape[0]} Rows, {shootouts.shape[1]} Columns')

Results: 43919 Rows, 9 Columns
Shootouts: 503 Rows, 4 Columns

### Data types available

#### Results:

In [ ]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43919 entries, 0 to 43918
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        43919 non-null  object
 1   home_team   43919 non-null  object
 2   away_team   43919 non-null  object
 3   home_score  43919 non-null  int64
 4   away_score  43919 non-null  int64
 5   tournament  43919 non-null  object
 6   city        43919 non-null  object
 7   country     43919 non-null  object
 8   neutral     43919 non-null  bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.7+ MB

#### Shootouts

In [ ]:
shootouts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       503 non-null    object
 1   home_team  503 non-null    object
 2   away_team  503 non-null    object
 3   winner     503 non-null    object
dtypes: object(4)
memory usage: 15.8+ KB

### Misssing values, duplicate entries, and outliners

##### Missing values

In [ ]:
results.isna().sum()

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
dtype: int64

In [ ]:
shootouts.isna().sum()

date         0
home_team    0
away_team    0
winner       0
dtype: int64

##### Duplicated entries

In [ ]:
print(f'Results duplicated entries: {results.duplicated().sum()}')
print(f'Shootouts duplicated entries: {shootouts.duplicated().sum()}')

Results duplicated entries: 0
Shootouts duplicated entries: 0

### Outliers - most common and uncommon results

In [ ]:
results_unique_score = results.groupby(['home_score', 'away_score'], as_index=False).size()
seaborn.relplot(data= results_unique_score, x= 'home_score', y= 'away_score',size='size', sizes=(5,400), alpha= 0.5)

### Descriptive statistics of your data

In [ ]:
results.describe()

         home_score    away_score
count  43919.000000  43919.000000
mean       1.741365      1.178920
std        1.748843      1.395755
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

### Get an overview of the distribution of those variables, which are quantitative continuos

In [1]:
seaborn.kdeplot(data= results, x= "home_score")

NameError: name 'seaborn' is not defined