# Milestone 1 

## Dataset
International football results from 1972 to 2022. consists of two csv files, `results.csv` and `shootouts.csv`

### About the dataset
This dataset includes `43,751` results of international football matches starting from the very first official match in 1972 up to 2022. The matches range from FIFA World Cup to FIFI Wild Cup to regular friendly matches.

 ### Dataset columns 

 `results.csv`

 | date | home_team | away_team | home_score | away_score | tournament | city | country | neutral |
| --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Date of the match  | Name of the home team | Name of the away team | Full-time home team score including extra time, not including penalty-shootouts | full-time away team score including extra time, not including penalty-shootouts | Name of the tournament | Name of the city/town/administrative unit where the match was played | Name of the country where the match was played | Column indicating whether the match was played at a neutral venue |
| `yyyy-mm-dd` format date | string | string | number | number | string | string | string | TRUE or FALSE |
| `quantitative/discrete`|`qualitative/nominal`| `qualitative/nominal`| `quantitative/discrete` | `quantitative/discrete` | `qualitative/nominal` | `qualitative/nominal` | `qualitative/nominal` | `qualitative/nominal` |


`shootouts.csv`

| date | home_team | away team | winner |
| --- | --- | --- | --- |
| Date of the match | Name of the home team | Name of the away team | winner of the penalty-shootout |
| string | string | string | string |
| `qualitative/nominal` | `qualitative/nominal` | `qualitative/nominal` | `qualitative/nominal`|


## Posible missing values
- **Goals**: would give us more insights about the players, who are the top scorers in some competitions, which players are more or less suitable to score certain teams, also would give us insights about the minutes where is more possible that a goal occurs in a match with certain teams.
- **Continent**: would give us some insights if a team is more propense to win or lose playing in some continents or in the next world cup.

## Lets start

### Inporting libraries

In [93]:
import pandas 
import numpy 
import matplotlib.pyplot as plot
import seaborn 
import random

### Load datasets

In [94]:
results = pandas.read_csv('results.csv')
results['total_score'] = results["away_score"] + results['home_score']
shootouts = pandas.read_csv('shootouts.csv')

In [95]:
results.sample(5)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_score
1370,1931-03-05,Guyana,Trinidad and Tobago,2,1,Friendly,Georgetown,British Guyana,False,3
10676,1978-03-22,Turkey,Romania,1,1,Balkan Cup,Istanbul,Turkey,False,2
31,1884-02-23,Northern Ireland,England,1,8,British Championship,Belfast,Ireland,False,9
32200,2010-01-02,Syria,Zimbabwe,6,0,Friendly,Kuala Lumpur,Malaysia,True,6
24552,2001-08-15,Ecuador,Argentina,0,2,FIFA World Cup qualification,Quito,Ecuador,False,2

In [96]:
shootouts.sample(5)

           date      home_team    away_team         winner
340  2006-02-28        Finland   Kazakhstan     Kazakhstan
409  2015-07-04          Chile    Argentina          Chile
266  2002-01-30  United States       Canada  United States
338  2006-02-04       Cameroon  Ivory Coast    Ivory Coast
66   1984-07-15        Senegal       Angola         Angola

### Dimentions of the data

In [97]:
print(f'Results: {results.shape[0]} Rows, {results.shape[1]} Columns')
print(f'Shootouts: {shootouts.shape[0]} Rows, {shootouts.shape[1]} Columns')

Results: 43919 Rows, 10 Columns
Shootouts: 503 Rows, 4 Columns

### Data types available

#### Results:

In [98]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43919 entries, 0 to 43918
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         43919 non-null  object
 1   home_team    43919 non-null  object
 2   away_team    43919 non-null  object
 3   home_score   43919 non-null  int64
 4   away_score   43919 non-null  int64
 5   tournament   43919 non-null  object
 6   city         43919 non-null  object
 7   country      43919 non-null  object
 8   neutral      43919 non-null  bool
 9   total_score  43919 non-null  int64
dtypes: bool(1), int64(3), object(6)
memory usage: 3.1+ MB

#### Shootouts

In [99]:
shootouts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       503 non-null    object
 1   home_team  503 non-null    object
 2   away_team  503 non-null    object
 3   winner     503 non-null    object
dtypes: object(4)
memory usage: 15.8+ KB

### Misssing values, duplicate entries, and outliners

##### Missing values

In [100]:
results.isna().sum()

date           0
home_team      0
away_team      0
home_score     0
away_score     0
tournament     0
city           0
country        0
neutral        0
total_score    0
dtype: int64

In [101]:
shootouts.isna().sum()

date         0
home_team    0
away_team    0
winner       0
dtype: int64

##### Duplicated entries

In [102]:
print(f'Results duplicated entries: {results.duplicated().sum()}')
print(f'Shootouts duplicated entries: {shootouts.duplicated().sum()}')

Results duplicated entries: 0
Shootouts duplicated entries: 0

### Outliers - most common and uncommon results

In [103]:
results_unique_score = results.groupby(['home_score', 'away_score'], as_index=False).size()
seaborn.relplot(data= results_unique_score, x= 'home_score', y= 'away_score',size='size', sizes=(5,400), alpha= 0.5)

### Descriptive statistics of your data

In [104]:
results.describe()

         home_score    away_score   total_score
count  43919.000000  43919.000000  43919.000000
mean       1.741365      1.178920      2.920285
std        1.748843      1.395755      2.081746
min        0.000000      0.000000      0.000000
25%        1.000000      0.000000      1.000000
50%        1.000000      1.000000      3.000000
75%        2.000000      2.000000      4.000000
max       31.000000     21.000000     31.000000

### Get an overview of the distribution of those variables, which are quantitative continuos

In [108]:
seaborn.displot(data= results, x= "home_score", kde= True)

In [109]:
seaborn.displot(data=results, x="away_score", kde= True)

In [110]:
seaborn.displot(data= results, x= "total_score", kde= True)